<div class="cat-main-wrapper">
  <div class="categories-wrapper"></div>
  <ul class="cat-pagination-list">
    <li class="cat-pagination-item">
      <button type="button" class="cat-pagination-btn active" data-page="prev">
        1
      </button>
    </li>

    <li class="cat-pagination-item">
      <button type="button" class="cat-pagination-btn" data-page="middle">
        2
      </button>
    </li>

    <li class="cat-pagination-item">
      <button type="button" class="cat-pagination-btn" data-page="next">
        3
      </button>
    </li>
  </ul>

  <ul class="exer-pagination-list">
    <li class="exer-pagination-item">
      <button type="button" class="exer-pagination-btn active" data-exer="prev">
        1
      </button>
    </li>

    <li class="exer-pagination-item">
      <button type="button" class="exer-pagination-btn" data-exer="middle">
        2
      </button>
    </li>

    <li class="exer-pagination-item">
      <button type="button" class="exer-pagination-btn" data-exer="next">
        3
      </button>
    </li>
  </ul>
</div>
