<section class="exercises">
	<div class="container">
		<div class="cat-filter-container">
			<h2 class="exercises-title">Exercises / <span class="exercises-title-span"></span></h2>
			<ul class="cat-filter-list">
				<li class="cat-filter-item">
					<input type="text" class='cat-filter-input' hidden>
					<button type="button" class="cat-filter-btn" data-name="Body parts">
						Body parts
					</button>
				</li>
				<li class="cat-filter-item">
					<button type="button" class="cat-filter-btn" data-name="Muscles">
						Muscles
					</button>
				</li>
				<li class="cat-filter-item">
					<button type="button" class="cat-filter-btn" data-name="Equipment">
						Equipment
					</button>
				</li>
			</ul>
		</div>
		<div class="exercises-wrapper">
			<load="./catalog.html" />
			<load="./quote.html" />
		</div>
	</div>
</section>