<section>
  <div class="container favor-container">
    <h2 class="favor-title">Favorites</h2>
    <div class="yyy">
      <div>
        <div class="favor-quote-container">
          <div class="favor-quote-icon">
            <svg width="18" height="20">
              <use href="./img/sport-sprite.svg#icon-running-stick"></use>
            </svg>
          </div>
          <div class="favor-quote-wrap">
            <h3>Quote of the day</h3>
            <p>
              A lot of times I find that people who are blessed with the most
              talent don't ever develop that attitude, and the ones who aren't
              blessed in that way are the most competitive and have the biggest
              heart.
            </p>
            <h4>Tom Brady</h4>
            <svg width="20" height="20">
              <use href="./img/sport-sprite.svg#icon-quotes"></use>
            </svg>
          </div>
        </div>
        <div class="favor-info">
          <div class="favor-dailynorm">
            <svg width="20" height="20">
              <use href="./img/sport-sprite.svg#icon-dumbbell"></use>
            </svg>
            <h3>110 min</h3>
            <p>Daily norm of sports</p>
          </div>
          <div class="favor-img-wrap">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/favorites/women-outdoors.jpg    1x,
                  ./img/favorites/women-outdoors@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/favorites/women-outdoors-tab.jpg    1x,
                  ./img/favorites/women-outdoors-tab@2x.jpg 2x
                "
              />
              <source
                srcset="
                  ./img/favorites/women-outdoors-mob.jpg    1x,
                  ./img/favorites/women-outdoors-mob@2x.jpg 2x
                "
              />
              <img
                src="./img/favorites/women-outdoors-mob.jpg "
                alt="Women sportswear working-out outdoor"
                width="344"
                height="141"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="favor-exercises noitems">
        <p>
          It appears that you haven't added any exercises to your favorites yet.
          To get started, you can add exercises that you like to your favorites
          for easier access in the future.
        </p>
      </div>
    </div>
  </div>
</section>
