<footer class="footer">
  <div class="container">
    <div class="footer_wrap3">
      <div class="footer_wrap_wrap1_foottitle">
        <div class="footer_wrap1_logo_soc">
          <a class="footer_logo_link" href="./index.html">
            <svg
              id="footer_logo_icon"
              class="footer_logo_icon"
              width="132"
              height="24"
            >
              <use href="./img/sport-sprite.svg#icon-logo"></use>
            </svg>
          </a>

          <ul class="footer_soc_list">
            <li class="footer_soc_item">
              <a
                rel="noopener noreferrer"
                target="_blank"
                class="footer_soc_link"
                href="https://www.facebook.com/goITclub/"
              >
                <svg class="footer_soc_icon" width="24" height="24">
                  <use href="./img/sport-sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer_soc_item">
              <a
                rel="noopener noreferrer"
                target="_blank"
                class="footer_soc_link"
                href="https://www.instagram.com/goitclub/"
              >
                <svg class="footer_soc_icon" width="24" height="24">
                  <use href="./img/sport-sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footer_soc_item">
              <a
                rel="noopener noreferrer"
                target="_blank"
                class="footer_soc_link"
                href="https://www.youtube.com/c/GoIT"
              >
                <svg class="footer_soc_icon" width="24" height="24">
                  <use href="./img/sport-sprite.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <h2 class="footer_title">
          Transforming your <span class="footer_title_span">body</span> shape
          with us
        </h2>
      </div>
      <form class="footer_form js-footer-form" action="submit">
        <p class="fotter_form_title">
          Subscribe and learn about new exercises!
        </p>
        <input
          type="email"
          name="email"
          placeholder="email"
          id="emailInput"
          required
        />
        <button class="footer_form_btn" type="submit">Send</button>
      </form>
    </div>
    <div class="footer_wrap2">
      <p class="footer_text">Your Energy. All rights reserved.</p>
      <div class="footer_wrap_info">
        <ul class="footer_list_info">
          <li class="footer_item_info">
            <a href="#" class="footer_link_info">Privacy Policy</a>
          </li>
          <li class="footer_item_info">/</li>
          <li class="footer_item_info">
            <a href="#" class="footer_link_info">Terms of Service</a>
          </li>
        </ul>

        <p class="footer_text_year">©2023</p>
        <button type="button" class="team-btn-open">Produced by</button>
      </div>
    </div>
  </div>
</footer>
