<div class="loading-overlay">
  <div class="loading-text">Завантаження</div>
</div>
<header class="header">
  <div class="header-container container">
    <div class="header-logo-container">
      <a href="./index.html" id="logo-link" title="Home page">
        <svg class="header-logo-icon" width="132" height="24">
          <use href="/img/sport-sprite.svg#icon-logo"></use>
        </svg>
      </a>
    </div>
    <div class="header-nav-container">
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-item" id="home-item">
            <a href="./index.html" class="header-nav-link active" id="home-link"
              >Home</a
            >
          </li>
          <li class="header-nav-item" id="favorites-item">
            <a
              href="./favourites-page.html"
              class="header-nav-link"
              id="favorites-link"
              >Favorites</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="header-social">
      <ul class="header-social-list">
        <li class="header-social-item">
          <a
            class="header-social-link"
            href="http://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer"
            title="Facebook GoITclub"
          >
            <svg class="header-social-icon" width="28" height="28">
              <use href="/img/sport-sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a
            class="header-social-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer"
            title="Instagram GoITclub"
          >
            <svg class="header-social-icon" width="28" height="28">
              <use href="/img/sport-sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a
            class="header-social-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            rel="noopener noreferrer"
            title="Youtube GoIT"
          >
            <svg class="header-social-icon" width="28" height="28">
              <use href="/img/sport-sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="header-burger">
      <span class="burger-1"></span><span class="burger-2"></span>
    </div>

    <!-- ================== МОБІЛЬНЕ  МЕНЮ====================== -->

    <div class="mobile-menu-container" id="mobile-menu">
      <div class="close-button"></div>
      <div class="mobile-menu-wrap">
        <ul class="mobile-menu-list">
          <li class="mobile-menu-item">
            <a href="./index.html" class="mobile-menu-link">Home</a>
          </li>
          <li class="mobile-menu-item">
            <a href="./favourites-page.html" class="mobile-menu-link"
              >Favorites</a
            >
          </li>
        </ul>
      </div>
      <div class="mobile-menu-social">
        <ul class="mobile-menu-social-list">
          <li class="mobile-menu-social-item">
            <a
              class="mobile-menu-social-link"
              href="http://www.facebook.com/goITclub/"
              target="_blank"
              rel="noopener noreferrer"
              title="Facebook GoITclub"
            >
              <svg class="mobile-menu-social-icon" width="28" height="28">
                <use href="/img/sport-sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-menu-social-item">
            <a
              class="mobile-menu-social-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noopener noreferrer"
              title="Instagram GoITclub"
            >
              <svg class="mobile-menu-social-icon" width="28" height="28">
                <use href="/img/sport-sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-menu-social-item">
            <a
              class="mobile-menu-social-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              rel="noopener noreferrer"
              title="Youtube GoIT"
            >
              <svg class="mobile-menu-social-icon" width="28" height="28">
                <use href="/img/sport-sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
