<section class="hero">
  <div class="container">
    <h1>Get <span>Body</span> in shape, Stay healthy</h1>
    <p>
      Transform your physique and embrace a healthier lifestyle with our
      comprehensive fitness and nutrition support.
    </p>
    <picture>
      <source
        srcset="./img/hero/hero1x.png 1x, ./img/hero/hero2x.png 2x"
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/hero/hero-tablet1x.png 1x,
          ./img/hero/hero-tablet2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/hero/hero-mobile1x.png 1x,
          ./img/hero/hero-mobile2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img src="./img/hero/hero1x.png" alt="" />
    </picture>
    <div class="tags">
      <ul>
        <li>#Sport</li>
        <li>#Healthy</li>
        <li>#Workout</li>
        <li>#Diet</li>
      </ul>
    </div>
  </div>
</section>
