<button
  type="button"
  class="form-modal-btn">
  Оценка
</button>

<div class="form-modal-backdrop is-hidden">
    <div class="form-modal">
        
        <button type="button" class="form-btn-close">
            <svg class="team-close-icon" width="24" height="24">
              <use href="./img/sport-sprite.svg#icon-cross"></use>
            </svg>
          </button>
          
          <p class="form-modal-title">Rating</p>
          
          <div class="form-stars">
            <ul class="total-stars">
                <p class="total-stars-title">0.0</p>
                <li class="star">
                    <svg class="team-icon-star" width="24" height="24">
                        <use href="./img/sport-sprite.svg#icon-star"></use>
                    </svg>
                </li>
                <li class="star">
                    <svg class="team-icon-star" width="24" height="24">
                        <use href="./img/sport-sprite.svg#icon-star"></use>
                    </svg>
                </li>
                <li class="star">
                    <svg class="team-icon-star" width="24" height="24">
                        <use href="./img/sport-sprite.svg#icon-star"></use>
                    </svg>
                </li>
                <li class="star">
                    <svg class="team-icon-star" width="24" height="24">
                        <use href="./img/sport-sprite.svg#icon-star"></use>
                    </svg>
                </li>
                <li class="star">
                    <svg class="team-icon-star" width="24" height="24">
                        <use href="./img/sport-sprite.svg#icon-star"></use>
                    </svg>
                </li>
            </ul>
          </div>
          <div class="form-info">
            <input type="email" name="email" placeholder="Email" class="form-info-item form-mail-input">
            <textarea type="text" name="comment" placeholder="Your comment" class="form-info-item form-textarea"></textarea>
          </div>
          <button type="submit" class="form-submit-btn">Send</button>
    </div>
</div>