<p>Delete later</p>
<button type="button" class="team-btn-open">Test btn</button>
<!--  -->
<div class="team-backdrop is-hidden">
  <div class="team-modal">
    <button type="button" class="team-btn-close">
      <!-- x -->
      <svg class="team-close-icon" width="28" height="28">
        <use href="./img/sport-sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <ul class="team-list">
      <!-- Constantine Lysenko -->
      <li class="team-item">
        <h3 class="team-name">Constantine Lysenko</h3>
        <p class="team-text">Team Lead</p>
        <div class="team-soc">
          <a
            href="https://www.linkedin.com/in/constantine-it-lysenko/"
            class="team-link"
          >
            <svg class="team-icon" width="28" height="28">
              <use href="./img/sport-sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a href="https://github.com/konstantin-it-lysenko" class="team-link">
            <svg class="team-icon" width="28" height="28">
              <use href="./img/sport-sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <!-- Anastasiia Motsukh -->
      <li class="team-item">
        <h3 class="team-name">Anastasiia Motsukh</h3>
        <p class="team-text">Scrum master</p>
        <div class="team-soc">
          <a
            href="https://www.linkedin.com/in/anastasiia-motsukh-a5859b283/"
            class="team-link"
          >
            <svg class="team-icon" width="28" height="28">
              <use href="./img/sport-sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a href="https://github.com/Elostay" class="team-link">
            <svg class="team-icon" width="28" height="28">
              <use href="./img/sport-sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <!-- Denys Nalyvaiko -->
      <li class="team-item">
        <h3 class="team-name">Denys Nalyvaiko</h3>
        <div class="team-soc">
          <a
            href="https://www.linkedin.com/in/denys-nalyvaiko-1ba8ab283"
            class="team-link"
          >
            <svg class="team-icon" width="28" height="28">
              <use href="./img/sport-sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a href="https://github.com/Denys-Nalyvaiko" class="team-link">
            <svg class="team-icon" width="28" height="28">
              <use href="./img/sport-sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <!-- Iryna Slavinska -->
      <li class="team-item">
        <h3 class="team-name">Iryna Slavinska</h3>
        <div class="team-soc">
          <a
            href="https://www.linkedin.com/in/iryna-slavinska-7038b9283/"
            class="team-link"
          >
            <svg class="team-icon" width="28" height="28">
              <use href="./img/sport-sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a href="https://github.com/IrynaSlavinska" class="team-link">
            <svg class="team-icon" width="28" height="28">
              <use href="./img/sport-sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <!-- Dmytro Chubenko -->
      <li class="team-item">
        <h3 class="team-name">Dmytro Chubenko</h3>
        <div class="team-soc">
          <a
            href="https://www.linkedin.com/in/demon-demon-03b119297/"
            class="team-link"
          >
            <svg class="team-icon" width="28" height="28">
              <use href="./img/sport-sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a href="https://github.com/Dimch93" class="team-link">
            <svg class="team-icon" width="28" height="28">
              <use href="./img/sport-sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <!-- Nadiia Paliichuk -->
      <li class="team-item">
        <h3 class="team-name">Nadiia Paliichuk</h3>
        <div class="team-soc">
          <!-- <a href="" class="team-link">
            <svg class="team-icon" width="28" height="28">
              <use href="./img/sport-sprite.svg#icon-linkedin"></use>
            </svg>
          </a> -->
          <a href="https://github.com/Nadin2611" class="team-link">
            <svg class="team-icon" width="28" height="28">
              <use href="./img/sport-sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
