<button
  type="button"
  class="form-modal-btn">
  Оценка
</button>

<div class="form-modal-backdrop is-hidden">
    <div class="form-modal">
        
        <button type="button" class="form-btn-close">
            <svg class="team-close-icon" width="24" height="24">
              <use href="./img/sport-sprite.svg#icon-cross"></use>
            </svg>
          </button>
          
          <p class="form-modal-title">Rating</p>
          
          <div class="rating rating_set">
            <div class="rating_value">0.0</div>
            <div class="rating_body">
                <div class="rating_active"></div>
                <div class="rating_items">
                    <input type="radio" class="rating_item" value="1" name="rating">
                    <input type="radio" class="rating_item" value="2" name="rating">
                    <input type="radio" class="rating_item" value="3" name="rating">
                    <input type="radio" class="rating_item" value="4" name="rating">
                    <input type="radio" class="rating_item" value="5" name="rating">
                </div>
            </div>
          </div>
          <div class="form-info">
            <input type="email" name="email" placeholder="Email" class="form-info-item form-mail-input">
            <textarea type="text" name="comment" placeholder="Your comment" class="form-info-item form-textarea"></textarea>
          </div>
          <button type="submit" class="form-submit-btn">Send</button>
    </div>
</div>