<div class="team-backdrop is-hidden">
  <div class="team-modal">
    <div class="team-wrapper">
      <button type="button" class="team-btn-close">
        <svg class="team-close-icon" width="24" height="24">
          <use href="./img/sport-sprite.svg#icon-cross"></use>
        </svg>
      </button>
      <ul class="team-list"></ul>

      <a
        href="https://github.com/konstantin-it-lysenko/projectDreamTeamJS"
        target="_blank"
        rel="noopener noreferrer"
        class="project-git"
        >See Project on
        <svg class="project-icon" width="28" height="28">
          <use href="./img/sport-sprite.svg#icon-github"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
