<p>Delete later</p>
<button type="button" class="team-btn-open">Test btn</button>

<div class="team-backdrop is-hidden">
  <div class="team-modal">
    <button type="button" class="team-btn-close">
      x
      <!-- <svg class="team-close-modal" width="28" height="28">
        <use href="./img/sport-sprite.svg#icon-close"></use>
      </svg> -->
    </button>
    <ul class="team-list">
      <li class="team-item">
        <h3 class="team-name">Constantine Lysenko</h3>
        <p class="team-text">Team Lead</p>
        <div class="team-soc">
          <a
            href="https://www.linkedin.com/in/constantine-it-lysenko/"
            class="team-link"
          >
            <svg class="team-icon" width="28" height="28">
              <use href="./img/sport-sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a href="https://github.com/konstantin-it-lysenko" class="team-link">
            <svg class="team-icon" width="28" height="28">
              <use href="./img/sport-sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li>
        <h3>Anastasiia Motsukh</h3>
        <p>Scrum master</p>
      </li>
    </ul>
  </div>
</div>
