<aside class="sidebar">
  <ul class="sidebar-list">
    <li class="sidebar-quote" id="app">
      <ul class="sidebar-quotewrap">
        <li>
          <svg class="sidebar-quotesvg1" width="18" height="20">
            <use href="./img/sport-sprite.svg#icon-running-stick"></use>
          </svg>
        </li>
        <li class="sidebar-quoteitem">
          <h2>Quote of the day</h2>
          <p class="quote"></p>
          <h3 class="author"></h3>
        </li>
        <li>
          <svg class="sidebar-quotesvg2" width="20" height="20">
            <use href="./img/sport-sprite.svg#icon-quotes"></use>
          </svg>
        </li>
      </ul>
    </li>
    <div id="sidebar-error" style="display: none">
      <img
        class="image-error404"
        src="./img/sidebar/error-404.jpg"
        alt="error404"
      />
    </div>
    <li>
      <picture>
        <source
          srcset="./img/sidebar/women.jpg 1x, ./img/sidebar/women@2x.jpg 2x"
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/sidebar/women-tab.jpg    1x,
            ./img/sidebar/women-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/sidebar/women-mobile.jpg    1x,
            ./img/sidebar/women-mobile@2x.jpg 2x
          "
          media="(min-width: 375px)"
        />
        <img
          class="sidebar-photo"
          src="./img/sidebar/women-mobile.jpg"
          alt="Women sportswear taking break from workout"
          width="335"
          height="242"
        />
      </picture>
    </li>
    <li class="sidebar-info">
      <ul class="sidebar-infowrap">
        <li>
          <svg class="sidebar-infosvg" width="20" height="20">
            <use href="./img/sport-sprite.svg#icon-dumbbell"></use>
          </svg>
        </li>
        <li>
          <h2>110 min</h2>
          <h3>Daily norm of sports</h3>
          <p class="sidebar-infotext">
            The World Health Organization recommends at least 150 minutes of
            moderate-intensity aerobic physical activity throughout the week for
            adults aged 18-64. However, what happens if we adjust that number to
            110 minutes every day? While it might seem like a high number to
            hit, dedicating 110 minutes daily to sporting activities may offer
            unparalleled benefits to physical health, mental well-being, and
            overall quality of life.
          </p>
        </li>
      </ul>
    </li>
  </ul>
</aside>
