body {
	color: #242424;
	font-family: Neue Montreal;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.29;
}

h3 {
	font-size: 20px;
	line-height: 1;
}

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color: #242424;
	background-color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

.container {
	margin: 0 auto;
	max-width: 335px;
	padding: 0 20px;
}

@media screen and (min-width: 375px) {
	.container {
		max-width: 375px;
	}
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 768px;
		padding: 0 32px;
	}
}

@media screen and (min-width: 1280px) {
	.container {
		max-width: 1440px;
	}
}
