body {
  color: var(--primary-black-color);
  font-family: var(--primary-fontfont-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
}

h3 {
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
}

:root {
  --primary-fontfont-family: Neue Montreal, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --primary-black-color: #242424;
  --primary-background-color: rgba(255, 255, 255, 0.87);
  --primary-white-color: #f4f4f4;
  --primary-color-c6cdd1: #c6cdd1;

  --transition: 300ms linear;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0 auto;
  max-width: 335px;
  padding: 0 20px;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background: var(--primary-black-color);
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  background-color: #929292;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  h3 {
    font-size: 24px;
    line-height: 1.33;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
