body {
  color: var(--primary-black-color);
  font-family: var(--primary-fontfont-family);
  font-size: 14px;
  font-style: normal;
  line-height: 1.29;
}

:root {
  --primary-fontfont-family: Neue Montreal, sans-serif;
  --primary-black-color: #242424;
  --primary-background-color: rgba(255, 255, 255, 0.87);
  --primary-white-color: #f4f4f4;
  --primary-color-c6cdd1: #c6cdd1;
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

.container {
  margin: 0 auto;
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  width: 100%;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1376px;
  }
}
