body {
  background-color: var(--primary-white-color);
}
.favor-container {
  padding-top: 80px;
  padding-bottom: 80px;
}
/**                          title */
.favor-title {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.36;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}
/**                          quote */
.favor-quote-container {
  display: flex;
  gap: 18px;
  width: 100%;
  min-height: 159px;
  border-radius: 20px;
  background-color: var(--primary-black-color);
  padding: 20px;
  margin-bottom: 20px;
}
.favor-quote-icon {
  position: relative;
  background-color: rgba(244, 244, 244, 0.2);
  min-width: 32px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.favor-quote-icon svg {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  fill: var(--primary-white-color);
}
.favor-quote-wrap {
  position: relative;
  max-width: 243px;
}
.favor-quote-wrap h3 {
  color: var(--primary-white-color);
  font-weight: 500;
  margin-bottom: 6px;
}
.favor-quote-wrap p {
  color: rgba(244, 244, 244, 0.6);
}
.favor-quote-wrap h4 {
  display: none;
}
.favor-quote-wrap svg {
  position: absolute;
  top: 0;
  right: 0;
  fill: var(--primary-white-color);
}
/**                          dailynorm */
.favor-dailynorm {
  border-radius: 20px;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}
.favor-dailynorm svg {
  fill: var(--primary-black-color);
  margin-bottom: 15px;
}
.favor-dailynorm h3 {
  font-weight: 500;
  margin-bottom: 6px;
}
.favor-dailynorm p {
  color: rgba(36, 36, 36, 0.6);
}
/**                          img */
.favor-img-wrap {
  border-radius: 20px;
  overflow: hidden;
}
/**                          exercises */
.favor-exercises {
  padding-top: 40px;
}
.favor-exercises-noitems {
  padding: 40px 8px 0 9px;
}
.favor-exercises-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.favor-exercises-list p {
  text-align: center;
}
/**                          exercises-card */
.favor-exercises-card {
  width: 335px;
  height: 141px;
  background-color: #fff;
  border-radius: 20px;
  padding: 16px;
}
.favor-exercises-head {
  display: flex;
  gap: 8px;
  /* justify-content: center; */
  align-items: center;
}
.favor-exercises-head svg {
  fill: var(--primary-black-color);
}
.favor-exercises-name {
  display: flex;
  gap: 16px;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 8px;
}
.favor-exercises-icon {
  position: relative;
  background-color: var(--primary-black-color);
  min-width: 32px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.favor-exercises-icon svg {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  fill: var(--primary-white-color);
}
.favor-exercises-name h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.33;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.favor-exercises-info {
  display: flex;
  gap: 10px;
}
.favor-exercises-item {
  font-size: 12px;
  line-height: 1.5;
  color: var(--primary-black-color);
  letter-spacing: -0.03em;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.favor-exercises-item span {
  color: rgba(36, 36, 36, 0.4);
  margin-right: 2px;
}
.favor-exercises-calories {
  max-width: 144px;
}
.favor-exercises-body {
  max-width: 83px;
}
.favor-exercises-target {
  width: 56px;
}
.favor-workout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 24px;
  border-radius: 15px;
  border: 1px solid var(--primary-black-color);
}
.favor-workout p {
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
/**                          @media */
@media screen and (min-width: 768px) {
  .favor-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  /**                          title */
  .favor-title {
    font-size: 44px;
    line-height: 1.09;
    margin-bottom: 32px;
  }
  /**                          quote */
  .favor-quote-container {
    min-height: 220px;
    gap: 16px;
    padding: 40px;
    margin-bottom: 16px;
  }
  .favor-quote-wrap {
    max-width: 574px;
  }
  .favor-quote-wrap h3 {
    font-size: 24px;
    line-height: 1.33;
  }
  .favor-quote-wrap p {
    margin-bottom: 18px;
  }
  .favor-quote-wrap h4 {
    display: block;
    color: #f4f4f4;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  /**                          dailynorm */
  .favor-info {
    display: flex;
    gap: 16px;
    height: 141px;
  }
  .favor-dailynorm {
    width: 344px;
    height: 141px;
    margin-bottom: 0;
  }
  .favor-dailynorm h3 {
    font-size: 24px;
    line-height: 1.33;
  }
  /**                          dailynorm */
  .favor-info {
    margin-bottom: 0;
  }
  .favor-img-wrap {
    width: 344px;
    height: 141px;
  }
  /**                          exercises */
  .favor-exercises {
    padding-top: 64px;
  }
  .favor-exercises-noitems {
    padding: 132px 75px 0;
  }
  .favor-exercises-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 16px;
  }
  .favor-exercises-text {
    font-size: 18px;
    line-height: 1.33;
  }
  .favor-exercises-card {
    width: 344px;
  }
  .favor-exercises-body {
    max-width: 88px;
  }
  .favor-exercises-target {
    width: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .favor-container {
    padding-top: 90px;
    padding-bottom: 50px;
  }
  .favor-title {
    margin-bottom: 44px;
  }
  .favor-quote {
    display: flex;
    gap: 32px;
  }
  .favor-quote-container {
    gap: 16px;
    width: 494px;
    min-height: 230px;
  }
  .favor-dailynorm {
    width: 239px;
  }
  .favor-img-wrap {
    width: 239px;
  }
  .favor-exercises {
    min-width: 850px;
    height: 487px;
    padding-top: 0;
    overflow: auto;
  }
  .favor-exercises-noitems {
    padding: 102px 148px 0;
  }
  .favor-exercises-card {
    width: 405px;
  }
  .favor-exercises-info {
    gap: 16px;
  }
  .favor-exercises-body {
    max-width: 123px;
  }
  .favor-exercises-target {
    width: 74px;
  }
}

.pag-list {
  display: flex;
  gap: 8px;
  padding-top: 32px;
  justify-content: center;
  align-items: center;
}
.pag-btn {
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  color: #d4d4d4;
}
.pag-btn-active {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid var(--primary-black-color);
  color: var(--primary-black-color);
}
