.footer {
  background-color: var(--primary-black-color);
  padding-top: 40px;
  padding-bottom: 20px;
}
.container {
  max-width: 375px;
}
.footer_logo_icon {
  fill: rgb(36, 36, 36);
}
.footer_soc_list {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.footer_soc_link {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid rgba(244, 244, 244, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--transition);
}
.footer_soc_icon {
  fill: var(--primary-white-color);
  transition: fill var(--transition);
}

.footer_soc_link:hover,
.footer_soc_link:focus {
  background-color: var(--primary-white-color);
  border-color: var(--dark-green-color);
  /* transform: translate(-1px, -1px); */
  /* box-shadow: 0px 2px 5px 0px var(--primary-color-c6cdd1); */
}
.footer_soc_link:hover .footer_soc_icon,
.footer_soc_link:focus .footer_soc_icon {
  fill: var(--primary-black-color);
  opacity: 0.8;
}

.footer_title {
  max-width: 365px;
  margin-top: 40px;
  color: var(--primary-white-color);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
  letter-spacing: 0.02em;
}
.footer_title_span {
  color: var(--primary-white-color);
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.02em;
}
.footer_form {
  max-width: 335px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.fotter_form_title {
  color: var(--primary-white-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}
.footer_form > input {
  font-size: 14px;
  line-height: 18px;
  padding: 12px;
  border-radius: 30px;
  border: 1px solid var(--primary-white-color);
  background-color: transparent;
  color: var(--primary-white-color);
}
.footer_form_btn {
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: var(--primary-white-color);
  color: var(--primary-black-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.footer_text {
  margin-top: 100px;
  color: var(--primary-color-c6cdd1);
  opacity: 0.9;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.02em;
}
.footer_wrap_info {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
.footer_list_info {
  display: flex;
  gap: 8px;
}

.footer_item_info {
  text-decoration: none;
  color: var(--primary-color-c6cdd1);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.02em;
}
.footer_link_info {
  text-decoration: none;
  color: var(--primary-color-c6cdd1);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.02em;
  transition: all var(--transition);
}
.footer_link_info:hover,
.footer_link_info:focus {
  color: var(--primary-white-color);
}

.footer_text_year {
  color: var(--primary-color-c6cdd1);
  opacity: 0.9;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.02em;
}
.team-btn-open {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 64px;
    padding-bottom: 32px;
  }
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  /* .footer_wrap_logo_soc {
  } */
  .footer_wrap_wrap1_foottitle {
    justify-content: space-between;
    display: flex;
  }
  .footer_soc_list {
    margin-top: 32px;
  }
  .footer_soc_icon {
    width: 28px;
    height: 28px;
  }
  .footer_title {
    max-width: 448px;
    margin-top: 0;
    font-size: 56px;
    line-height: 60px; /* 107.143% */
    letter-spacing: -0.02em;
  }
  .footer_title_span {
    font-size: 56px;
    font-style: italic;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.02em;
  }
  .footer_form {
    margin-top: 32px;
    max-width: 350px;
    margin-left: 256px;
  }
  .fotter_form_title {
    font-size: 18px;
    line-height: 24px;
  }
  .footer_form > input {
    font-size: 16px;
    line-height: 24px;
  }
  .footer_form_btn {
    font-size: 16px;
    line-height: 24px;
  }
  .footer_wrap2 {
    margin-top: 100px;
    display: flex;
  }
  .footer_wrap_info {
    margin-top: 0;
    gap: 208px;
  }
  .footer_text {
    margin-top: 0;
    margin-right: 58px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  .footer_wrap_wrap1_foottitle {
    justify-content: unset;
    gap: 158px;
  }
  .footer_wrap3 {
    display: flex;
    gap: 158px;
  }
  .footer_title {
    max-width: 554px;
  }

  .footer_form {
    margin: 0;
    width: 350px;
  }
  .footer_wrap2 {
    margin-top: 54px;
  }
  .footer_text {
    margin-right: 136px;
  }

  .team-btn-open {
    margin-left: 12px;
    display: block;
    background-color: unset;
    border: none;
    color: var(--primary-color-c6cdd1);
    transition: all var(--transition);
  }
  .footer_text_year {
    margin-left: 314px;
  }
  .team-btn-open:hover,
  .team-btn-open:focus {
    color: var(--primary-white-color);
    transform: scale(1.1);
  }
}
