.header {
  background-color: var(--primary-white-color);
}
/* ========================================MOBILE==================================== */

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.header-logo-container {
  padding-top: 4px;
  padding-bottom: 4px;
  display: block;
}

.header-logo-icon {
  fill: var(--primary-black-color);
}

.header-nav-container,
.header-social,
#mobile-menu {
  display: none;
}

.header-burger {
  display: block;
  position: relative;
  width: 32px;
  height: 32px;
}

.header-burger::before,
.header-burger::after,
.burger-1,
.burger-2 {
  content: '';
  background-color: var(--primary-black-color);
  position: absolute;
  width: 100%;
  height: 2px;
  right: 0;
}

.header-burger::before {
  top: 1px;
}

.header-burger::after {
  bottom: 0;
}
.burger-1 {
  top: 11px;
}
.burger-2 {
  top: 21px;
}

.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  overflow: auto;
  width: 100vw;
  height: 100%;
  background-color: var(--primary-black-color);
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.close-button:hover {
  opacity: 1;
}

.close-button::before,
.close-button::after {
  content: '';
  position: absolute;
  top: 10px;
  display: block;
  width: 24px;
  height: 3px;
  background: var(--primary-white-color);
}

.close-button::before {
  transform: rotate(45deg);
}

.close-button::after {
  transform: rotate(-45deg);
}

.mobile-menu-wrap {
  padding-top: 280px;
}
.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.mobile-menu-item {
  color: var(--primary-white-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29em;
}

.mobile-menu-social {
  margin-top: 416px;
  margin-bottom: 20px;
}
.mobile-menu-social-list {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.mobile-menu-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid rgba(244, 244, 244, 0.1);
}
.mobile-menu-social-icon {
  fill: var(--primary-white-color);
  opacity: 0.8;
}

/* ========================================TABLET==================================== */

@media (min-width: 768px) {
  .header-container {
    padding-top: 24px;
  }
  .header-logo-container {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .header-nav-container,
  .header-social {
    display: flex;
    /* flex-direction: column; */
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 8px 36px;
    border-radius: 60px;
    background: var(--primary-black-color);
  }

  .header-nav-item.active {
    background-color: var(--primary-white-color);
    border-radius: 30px;
    padding: 6px 12px;
  }

  .header-nav-link {
    color: var(--primary-white-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    cursor: pointer;
  }
  .header-nav-item.active .header-nav-link {
    color: var(--primary-black-color);
  }

  .header-social-list {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
  }

  .header-social-link {
    display: flex;
    padding: 8px;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid rgba(36, 36, 36, 0.1);
  }
  .header-social-icon {
    fill: var(--primary-black-color);
    opacity: 0.8;
  }
}

/* ========================================DESKTOP==================================== */

@media (min-width: 1440px) {
  .header-container {
    padding-top: 28px;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 14px 64px;
    border-radius: 60px;
    background: var(--primary-black-color);
  }

  .header-nav-item.active {
    background-color: var(--primary-white-color);
    border-radius: 30px;
    padding: 8px 12px;
  }

  .header-nav-link {
    color: var(--primary-white-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    cursor: pointer;
  }
  .header-nav-item.active .header-nav-link {
    color: var(--primary-black-color);
  }

  .header-social-list {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
  }

  .header-social-link {
    display: flex;
    padding: 8px;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid rgba(36, 36, 36, 0.1);
  }
  .header-social-icon {
    fill: var(--primary-black-color);
    opacity: 0.8;
  }
}
