.sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar-quote {
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;
  width: 335px;
  height: 188px;
  background-color: var(--primary-black-color);
}
.sidebar-quotewrap {
  display: flex;
}
.sidebar-quote::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  opacity: 0.2;
}
.sidebar-quoteitem {
  margin-left: 26px;
  margin-right: -20px;
}
.sidebar-quote h2 {
  display: block;
  color: var(--primary-white-color);
  font-family: var(--primary-fontfont-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}
.sidebar-quote p {
  display: block;
  height: 88px;
  width: 243px;
  margin: 6px 0 16px 0;
  color: rgba(244, 244, 244, 0.6);
  font-family: var(--primary-fontfont-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.286;
  overflow: hidden;
}
.sidebar-quote h3 {
  display: block;
  color: var(--primary-white-color);
  font-family: var(--primary-fontfont-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.286;
}
.sidebar-quotesvg1 {
  position: relative;
  top: 6px;
  left: 6px;
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}
.sidebar-quotesvg2 {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}
#refreshQuoteButton {
  position: relative;
  bottom: 16px;
  left: 270px;
  fill: var(--primary-white-color);
  background-color: transparent;
  transition: transform 250ms linear;
  rotate: 0;
}
.sidebar-photo {
  border-radius: 20px;
  overflow: hidden;
  width: 335px;
  height: 242px;
}
.sidebar-info {
  position: relative;
  width: 335px;
  height: 203px;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
}
.sidebar-info h2 {
  display: block;
  color: var(--primary-black-color);
  font-family: var(--primary-fontfont-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}
.sidebar-info h3 {
  display: block;
  margin: 4px 0 16px 0;
  color: rgba(36, 36, 36, 0.6);
  font-family: var(--primary-fontfont-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.286;
}
.sidebar-info p {
  display: block;
  width: 245px;
  height: 105px;
  padding: 10px 0;
  color: var(--primary-black-color);
  font-family: var(--primary-fontfont-family);
  font-size: 14.3px;
  font-weight: 400;
  line-height: 1.286;
  letter-spacing: 0.0001em;
  overflow: hidden;
}
.sidebar-info::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--primary-black-color);
}
.sidebar-infosvg {
  position: relative;
  top: 6px;
  left: 6px;
  fill: var(--primary-white-color);
}
.sidebar-infowrap {
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 374.98px) {
  .sidebar-photo,
  .sidebar-quote,
  .sidebar-info {
    width: 250px;
    height: auto;
  }
  .sidebar-quoteitem {
    margin-right: -40px;
  }
  .sidebar-quote p {
    width: 190px;
  }
  .sidebar-info p {
    width: 180px;
    padding: 5px 0;
    font-size: 13px;
  }
}
@media screen and (min-width: 768px) {
  .sidebar-list {
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 32px;
    column-gap: 16px;
  }
  .sidebar-quoteitem {
    margin-left: 24px;
    margin-right: -24px;
  }
  .sidebar-quote h2 {
    font-size: 24px;
    line-height: 1.33;
  }
  .sidebar-quote p {
    height: 89px;
    width: 270px;
    margin: 6px 0 18px 0;
  }
  .sidebar-quote h3 {
    font-size: 16px;
  }
  .sidebar-quotesvg2 {
    width: 24px;
    height: 24px;
  }
  .sidebar-photo {
    width: 288px;
    height: 249px;
  }
  .sidebar-quote,
  .sidebar-info {
    padding: 40px;
    width: 400px;
    height: 249px;
  }
  .sidebar-info h2 {
    font-size: 24px;
    line-height: 1.33;
  }
  .sidebar-info h3 {
    margin: 6px 0 16px 0;
  }
  .sidebar-info p {
    width: 270px;
    height: 97px;
    font-size: 13.5px;
  }
}
@media screen and (min-width: 1440px) {
  .sidebar-list {
    flex-direction: column;
    gap: 32px;
  }
  .sidebar-quote {
    width: 444px;
    height: 230px;
  }
  .sidebar-quote p {
    width: 314px;
    height: 70px;
  }
  .sidebar-photo {
    width: 444px;
    height: 242px;
  }
  .sidebar-info {
    width: 444px;
    height: 315px;
  }
  .sidebar-info p {
    width: 314px;
    height: 163px;
    font-size: 13.5px;
    font-size: 13px;
    padding: 0;
  }
}
