h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
}

input {
  font-family: inherit;
}

input,
textarea,
button {
  font-family: inherit;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
