@import url('./reset.css');
@import url('./common.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./quote.css');
@import url('./categories.css');
@import url('./exercises.css');
@import url('./footer.css');
@import url('./favourites.css');
@import url('./modal-exercise.css');
@import url('./modal-form.css');
@import url('./modal-team.css');
@import url('./loader.css');
@import url('./scroll-up.css');

@font-face {
  font-family: 'Neue Montreal', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Neue Montreal'),
    url(../fonts/NeueMontreal-Regular.woff2) format(woff2),
    url(../fonts/NeueMontreal-Regular.woff) format(woff);
}

@font-face {
  font-family: 'Neue Montreal', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Neue Montreal'),
    url(../fonts/NeueMontreal-Medium.woff2) format(woff2),
    url(../fonts/NeueMontreal-Medium.woff) format(woff);
}

@font-face {
  font-family: 'Neue Montreal', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Neue Montreal'),
    url(../fonts/NeueMontreal-Bold.woff2) format(woff2),
    url(../fonts/NeueMontreal-Bold.woff) format(woff);
}
